h1 {
    color: #252525;
    text-align: center;
    font-size: 50px;
}
body{
    background-color: #ffb6c2;
}
p {
    margin-left: 80px;
    margin-right: 80px; 
    font-size: 18px;
    text-align: center;
}
a {
  text-align: center;
}


img {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 800px;
    align-self: center;
}
    
    


