h1 {
    color: #252525;
    text-align: center;
    font-size: 50px;
}
h2 {
    color: #252525;
    text-align: center;
}
body{
    background-color: #9dd5ff;
}
p {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
    text-align: center;
}
a {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 50%;
  align-self: center;
}






 
