h1 {
    color: #000001;
    text-align: center;
    font-size: 50px;
}
body{
    background-color: #9dd5ff;
    font-family: "Gill Sans", sans-serif;
}
p {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
    text-align: center;
}
a {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 700px;
  height: 450px; 
  align-self: center;
}

.exhibits {
    background-color: #7babff;
    padding: 20px;
    border: 8px soldug #00446f;
    text-align: center;
  }
  .exhibits ul {
    text-align: center;
    color: #000;
  }
  .exhibits h2 {
    color: #090924;
    margin-bottom: 15px;
    text-align: center;
  }

  .exhibit p {
    text-align: center;
    color: #f7e32a;
    font-size: 12px;
  }
  .exhibit li {
    text-align: center;
  }


.index-btn {
  background-color: #9dd5ff;
  color: #3d3d3d;
  font-family: "Gill Sans", sans-serif;
  padding: 5px 10px;
  text-decoration: none;
}
.index-btn:hover {
  background-color: #7babff;
  color: #007bd8;
}